In [81]:
# contest_folder = 'practice'   # CHANGE THIS
contest_folder = 'contestData'

In [82]:
from analysis import get_current_status

In [83]:
df_grouped, aggregated_df = get_current_status(contest_folder)

In [84]:
# df_grouped.head(1)

In [85]:
aggregated_df

,problem_code,problem_name,statement,sample_in,sample_out,full_in,solution_id,execution_response,execution_code,execution_sample_out,execution_full_out,case_string,case_string_found,sample_out_found,hash,status,timestring
0,coin_change,Coin Change,You found a magic coin exchange machine which ...,6\n3 0\n3 100\n10 50\n100 40\n1337 7\n99887766...,Case #1: 5.5\nCase #2: 4.5\nCase #3: 19.956349...,60\n9988776655 44\n198975626633448 2\n46751915...,"[000, 001, 002, 004, 005]",[**Key Findings:**\n\n1. **Understanding the P...,[import sys\nimport math\nfrom itertools impor...,[Case #1: 5.5\nCase #2: 5.0794415417\nCase #3:...,[Case #1: 2.2036974640E+10\nCase #2: 9.8131309...,"[Case #60, Case #60, Case #60, Case #60, Case ...","[True, True, True, True, True]","[False, False, False, False, False]",b37c9c61,analyzing,0744

In [86]:
aggregated_df.to_dict(orient='records')[0].keys()

dict_keys(['problem_code', 'problem_name', 'statement', 'sample_in', 'sample_out', 'full_in', 'solution_id', 'execution_response', 'execution_code', 'execution_sample_out', 'execution_full_out', 'case_string', 'case_string_found', 'sample_out_found', 'hash', 'status', 'timestring'])

In [87]:
aggregated_df["sample_out_found"][0]

[False, False, False, False, False]

In [ ]:
# aggregated_df[0]