In [8]:
contest_folder = 'round2'   # CHANGE THIS

In [9]:
from analysis import get_current_status

In [10]:
df_grouped, aggregated_df = get_current_status(contest_folder)

In [11]:
# df_grouped

In [12]:
aggregated_df

,problem_code,problem_name,statement,sample_in,sample_out,full_in,solution_id,execution_response,execution_code,execution_sample_out,execution_full_out,case_string,case_string_found,sample_out_found,hash,status,timestring
0,cottontail_climb_part_2,Cottontail Climb (Part 2),*This problem shares some similarities with pr...,6\n121 121 11\n0 100 2\n0 132 1\n121 132 1\n12...,Case #1: 1\nCase #2: 4\nCase #3: 12\nCase #4: ...,136\n121 121 11\n0 100 2\n0 132 1\n121 132 1\n...,"[001, 002, 004, 010]","[To solve this problem, we will generate all p...",[def read_int():\n return int(input())\n\nd...,[Case #1: 1\nCase #2: 4\nCase #3: 12\nCase #4:...,[Case #1: 1\nCase #2: 4\nCase #3: 12\nCase #4:...,"[Case #136, Case #136, Case #136, Case #136]","[True, True, True, True]","[False, True, True, False]",494c1da6,analyzing,3402

In [13]:
aggregated_df.to_dict(orient='records')[0].keys()

dict_keys(['problem_code', 'problem_name', 'statement', 'sample_in', 'sample_out', 'full_in', 'solution_id', 'execution_response', 'execution_code', 'execution_sample_out', 'execution_full_out', 'case_string', 'case_string_found', 'sample_out_found', 'hash', 'status', 'timestring'])

In [14]:
aggregated_df["sample_out_found"][0]

[False, True, True, False]

In [37]:
# aggregated_df[0]