In [1]:
# contest_folder = 'practice'   # CHANGE THIS
contest_folder = 'contestData'
# contest_folder = 'round1'

In [6]:
from analysis import get_current_status

In [9]:
df_grouped, aggregated_df = get_current_status(contest_folder)

In [12]:
df_grouped.head(1)

,problem_code,solution_id,problem_name,statement,sample_in,sample_out,full_in,execution_response,execution_code,execution_sample_out,execution_full_out,case_string,case_string_found,sample_out_found
0,chicken_tender,002,Chicken Tender,"As chef de cuisine of Snacker Cup, you've been...",3\n7 10 5\n15 5\n19 7\n16 11\n10 12\n4 10\n2 6...,Case #1: Yes\nCase #2: No\nCase #3: Yes\n,30\n6 31 22\n0 0\n32 0\n31 46\n26 51\n6 51\n1 ...,"To solve this problem, we need to determine wh...",import sys\nimport math\n\ndef readints():\n ...,Case #1: Yes\nCase #2: Yes\nCase #3: Yes\n,Case #1: Yes\nCase #2: No\nCase #3: No\nCase #...,Case #30,True,False

In [13]:
aggregated_df

,problem_code,problem_name,statement,sample_in,sample_out,full_in,solution_id,execution_response,execution_code,execution_sample_out,execution_full_out,case_string,case_string_found,sample_out_found,hash,status,timestring
0,chicken_tender,Chicken Tender,"As chef de cuisine of Snacker Cup, you've been...",3\n7 10 5\n15 5\n19 7\n16 11\n10 12\n4 10\n2 6...,Case #1: Yes\nCase #2: No\nCase #3: Yes\n,30\n6 31 22\n0 0\n32 0\n31 46\n26 51\n6 51\n1 ...,"[002, 003, 004]","[To solve this problem, we need to determine w...",[import sys\nimport math\n\ndef readints():\n ...,"[Case #1: Yes\nCase #2: Yes\nCase #3: Yes\n, C...",[Case #1: Yes\nCase #2: No\nCase #3: No\nCase ...,"[Case #30, Case #30, Case #30]","[True, True, True]","[False, False, False]",849f6a6f,not_analyzed,0040
1,distributed_server,Distributed Server,"As the organizer of Meta Snacker Cup, you've b...",3\n3 4\nQdMa\naMex\nPeta\n4 4\nZHaa\nHaba\nack...,Case #1: meta\nCase #2: hacker\nCase #3: cup\n,70\n20 20\ncAbdcaaacDdccbdcabdb\nBaccAabddbBbc...,[002],[**Key Findings when Solving the Problem:**\n\...,[import sys\nimport itertools\n\ndef readints(...,[Case #1: meta\nCase #2: haczdr\nCase #3: cup\n],[Case #1: aabda\nCase #2: aaabbbbccddcceeeedef...,[Case #70],[True],[False],d3f9577d,not_analyzed,0040
2,snake_cover,Snake Cover,"*""There's a snake in my fruit!""*\n\nWhile unlo...",2\n5 3\nL 3\nR 1\nS 5\n10 4\nR 2\nR 1\nR 3\nR 2\n,Case #1: 21\nCase #2: 66\n,105\n10000 1000\nL 5467\nL 6513\nR 9951\nR 161...,[000],[**Key Findings:**\n\n1. **Snake Movement Repr...,[import sys\nimport sys\nimport sys\nfrom coll...,[Case #1: 21\nCase #2: 11\n],[Case #1: 224798279\nCase #2: 649461795\nCase ...,[Case #105],[True],[False],031e2626,not_analyzed,0040

In [6]:
aggregated_df.to_dict(orient='records')[0].keys()

dict_keys(['problem_code', 'problem_name', 'statement', 'sample_in', 'sample_out', 'full_in', 'solution_id', 'execution_response', 'execution_code', 'execution_sample_out', 'execution_full_out', 'case_string', 'case_string_found', 'sample_out_found', 'hash', 'status', 'timestring'])

In [7]:
aggregated_df["sample_out_found"][0]

[True, False]

In [ ]:
# aggregated_df[0]