In [6]:
from analysis import get_current_status

In [7]:
contest_folder = 'practice'

In [8]:
df_grouped, aggregated_df = get_current_status(contest_folder)

In [9]:
df_grouped

,problem_code,solution_id,problem_name,statement,sample_in,sample_out,full_in,execution_code,execution_sample_out,execution_full_out
0,fall_in_line,000,Fall in Line,"As the queen of an ant colony, it’s your job t...",3\n4\n1 1\n2 2\n-3 -3\n4 4\n4\n1 1\n-1 1\n1 -1...,Case #1: 0\nCase #2: 2\nCase #3: 3\n,113\n4\n1 1\n2 2\n-3 -3\n4 4\n4\n1 1\n-1 1\n1 ...,"import sys, math, random\nfrom collections imp...",Case #1: 0\nCase #2: 2\nCase #3: 3\n,Case #1: 0\nCase #2: 2\nCase #3: 3\nCase #4: 7...
1,fall_in_line,001,Fall in Line,"As the queen of an ant colony, it’s your job t...",3\n4\n1 1\n2 2\n-3 -3\n4 4\n4\n1 1\n-1 1\n1 -1...,Case #1: 0\nCase #2: 2\nCase #3: 3\n,113\n4\n1 1\n2 2\n-3 -3\n4 4\n4\n1 1\n-1 1\n1 ...,import sys\nimport numpy as np\n\ndef main():\...,Case #1: 0\nCase #2: 2\nCase #3: 5\n,Case #1: 0\nCase #2: 2\nCase #3: 5\nCase #4: 9...
2,line_by_line,000,Line by Line,You’ve found a solution to an implementation-h...,4\n2 50\n3 10\n13 37\n950 95\n,Case #1: 20.710678118654748\nCase #2: 11.54434...,174\n2 50\n3 10\n13 37\n950 95\n2 1\n2 2\n2 3\...,import math\nimport sys\n\ndef main():\n T ...,Case #1: 20.710678118654755\nCase #2: 11.54434...,Case #1: 20.710678118654755\nCase #2: 11.54434...
3,line_by_line,001,Line by Line,You’ve found a solution to an implementation-h...,4\n2 50\n3 10\n13 37\n950 95\n,Case #1: 20.710678118654748\nCase #2: 11.54434...,174\n2 50\n3 10\n13 37\n950 95\n2 1\n2 2\n2 3\...,import math\nimport sys\n\ndef main():\n in...,Case #1: 20.710678118654755\nCase #2: 11.54434...,Case #1: 20.710678118654755\nCase #2: 11.54434...
4,line_of_delivery_part_1,000,Line of Delivery (Part 1),*This problem shares some similarities with pr...,4\n2 5\n7\n2\n3 1\n9\n5\n7\n4 7\n8\n7\n9\n6\n2...,Case #1: 1 2\nCase #2: 3 4\nCase #3: 3 0\nCase...,111\n2 5\n7\n2\n3 1\n9\n5\n7\n4 7\n8\n7\n9\n6\...,,,
5,line_of_delivery_part_1,001,Line of Delivery (Part 1),*This problem shares some similarities with pr...,4\n2 5\n7\n2\n3 1\n9\n5\n7\n4 7\n8\n7\n9\n6\n2...,Case #1: 1 2\nCase #2: 3 4\nCase #3: 3 0\nCase...,111\n2 5\n7\n2\n3 1\n9\n5\n7\n4 7\n8\n7\n9\n6\...,import sys\nimport sys\nimport sys\n\nimport s...,Case #1: 1 2\nCase #2: 2 6\nCase #3: 4 1\nCase...,Case #1: 1 2\nCase #2: 2 6\nCase #3: 4 1\nCase...
6,line_of_delivery_part_2,000,Line of Delivery (Part 2),*This problem shares some similarities with pr...,5\n2 5\n7\n2\n3 6\n9\n5\n7\n4 8\n8\n7\n9\n6\n2...,Case #1: 1 2\nCase #2: 2 2\nCase #3: 2 0\nCase...,112\n2 5\n7\n2\n3 6\n9\n5\n7\n4 8\n8\n7\n9\n6\...,import sys\nimport sys\nimport sys\nimport sys...,Case #1: 1 2\nCase #2: 2 1\nCase #3: 1 0\nCase...,Case #1: 1 2\nCase #2: 2 1\nCase #3: 1 0\nCase...
7,line_of_delivery_part_2,001,Line of Delivery (Part 2),*This problem shares some similarities with pr...,5\n2 5\n7\n2\n3 6\n9\n5\n7\n4 8\n8\n7\n9\n6\n2...,Case #1: 1 2\nCase #2: 2 2\nCase #3: 2 0\nCase...,112\n2 5\n7\n2\n3 6\n9\n5\n7\n4 8\n8\n7\n9\n6\...,import sys\nimport threading\n\ndef main():\n ...,Case #1: 1 2\nCase #2: 2 1\nCase #3: 1 0\nCase...,Case #1: 1 2\nCase #2: 2 1\nCase #3: 1 0\nCase...
8,walk_the_line,000,Walk the Line,"There’s an old, narrow bridge that a group of ...",6\n4 17\n1\n2\n5\n10\n4 4\n1\n2\n5\n10\n2 22\n...,Case #1: YES\nCase #2: NO\nCase #3: YES\nCase ...,114\n4 17\n1\n2\n5\n10\n4 4\n1\n2\n5\n10\n2 22...,# Python code to solve the bridge crossing pro...,Case #1: YES\nCase #2: NO\nCase #3: YES\nCase ...,Case #1: YES\nCase #2: NO\nCase #3: YES\nCase ...
9,walk_the_line,001,Walk the Line,"There’s an old, narrow bridge that a group of ...",6\n4 17\n1\n2\n5\n10\n4 4\n1\n2\n5\n10\n2 22\n...,Case #1: YES\nCase #2: NO\nCase #3: YES\nCase ...,114\n4 17\n1\n2\n5\n10\n4 4\n1\n2\n5\n10\n2 22...,"import sys\n\ndef compute_min_time(S, N):\n ...",Case #1: YES\nCase #2: NO\nCase #3: YES\nCase ...,Case #1: YES\nCase #2: NO\nCase #3: YES\nCase ...

In [10]:
aggregated_df

,problem_code,problem_name,statement,sample_in,sample_out,full_in,solution_id,execution_code,execution_sample_out,execution_full_out,hash,status,timestring
0,fall_in_line,Fall in Line,"As the queen of an ant colony, it’s your job t...",3\n4\n1 1\n2 2\n-3 -3\n4 4\n4\n1 1\n-1 1\n1 -1...,Case #1: 0\nCase #2: 2\nCase #3: 3\n,113\n4\n1 1\n2 2\n-3 -3\n4 4\n4\n1 1\n-1 1\n1 ...,"[000, 001]","[import sys, math, random\nfrom collections im...","[Case #1: 0\nCase #2: 2\nCase #3: 3\n, Case #1...",[Case #1: 0\nCase #2: 2\nCase #3: 3\nCase #4: ...,4eda3995,analyzed,2402
1,line_by_line,Line by Line,You’ve found a solution to an implementation-h...,4\n2 50\n3 10\n13 37\n950 95\n,Case #1: 20.710678118654748\nCase #2: 11.54434...,174\n2 50\n3 10\n13 37\n950 95\n2 1\n2 2\n2 3\...,"[000, 001]",[import math\nimport sys\n\ndef main():\n T...,[Case #1: 20.710678118654755\nCase #2: 11.5443...,[Case #1: 20.710678118654755\nCase #2: 11.5443...,1992998d,analyzed,2402
2,line_of_delivery_part_1,Line of Delivery (Part 1),*This problem shares some similarities with pr...,4\n2 5\n7\n2\n3 1\n9\n5\n7\n4 7\n8\n7\n9\n6\n2...,Case #1: 1 2\nCase #2: 3 4\nCase #3: 3 0\nCase...,111\n2 5\n7\n2\n3 1\n9\n5\n7\n4 7\n8\n7\n9\n6\...,"[000, 001]","[, import sys\nimport sys\nimport sys\n\nimpor...","[, Case #1: 1 2\nCase #2: 2 6\nCase #3: 4 1\nC...","[, Case #1: 1 2\nCase #2: 2 6\nCase #3: 4 1\nC...",2e191c60,analyzed,2402
3,line_of_delivery_part_2,Line of Delivery (Part 2),*This problem shares some similarities with pr...,5\n2 5\n7\n2\n3 6\n9\n5\n7\n4 8\n8\n7\n9\n6\n2...,Case #1: 1 2\nCase #2: 2 2\nCase #3: 2 0\nCase...,112\n2 5\n7\n2\n3 6\n9\n5\n7\n4 8\n8\n7\n9\n6\...,"[000, 001]",[import sys\nimport sys\nimport sys\nimport sy...,[Case #1: 1 2\nCase #2: 2 1\nCase #3: 1 0\nCas...,[Case #1: 1 2\nCase #2: 2 1\nCase #3: 1 0\nCas...,6756bde0,analyzed,2402
4,walk_the_line,Walk the Line,"There’s an old, narrow bridge that a group of ...",6\n4 17\n1\n2\n5\n10\n4 4\n1\n2\n5\n10\n2 22\n...,Case #1: YES\nCase #2: NO\nCase #3: YES\nCase ...,114\n4 17\n1\n2\n5\n10\n4 4\n1\n2\n5\n10\n2 22...,"[000, 001]",[# Python code to solve the bridge crossing pr...,[Case #1: YES\nCase #2: NO\nCase #3: YES\nCase...,[Case #1: YES\nCase #2: NO\nCase #3: YES\nCase...,1a5546e4,analyzed,2402