In [1]:
# contest_folder = 'practice'   # CHANGE THIS
contest_folder = 'contestData'
# contest_folder = 'round1'

In [14]:
from analysis import get_current_status

In [28]:
df_grouped, aggregated_df = get_current_status(contest_folder)

In [29]:
df_grouped.head(1)

,problem_code,solution_id,problem_name,statement,sample_in,sample_out,full_in,execution_response,execution_code,execution_sample_out,execution_full_out,case_string,case_string_found,sample_out_found
0,chicken_tender,000,Chicken Tender,"As chef de cuisine of Snacker Cup, you've been...",3\n7 10 5\n15 5\n19 7\n16 11\n10 12\n4 10\n2 6...,Case #1: Yes\nCase #2: No\nCase #3: Yes\n,30\n6 31 22\n0 0\n32 0\n31 46\n26 51\n6 51\n1 ...,**Key Findings:**\n\nTo determine if a convex ...,import sys\nimport math\nfrom shapely.geometry...,An error happened during execution:\nTraceback...,An error happened during execution:\nTraceback...,Case #30,False,False

In [30]:
aggregated_df

,problem_code,problem_name,statement,sample_in,sample_out,full_in,solution_id,execution_response,execution_code,execution_sample_out,execution_full_out,case_string,case_string_found,sample_out_found,hash,status,timestring
0,chicken_tender,Chicken Tender,"As chef de cuisine of Snacker Cup, you've been...",3\n7 10 5\n15 5\n19 7\n16 11\n10 12\n4 10\n2 6...,Case #1: Yes\nCase #2: No\nCase #3: Yes\n,30\n6 31 22\n0 0\n32 0\n31 46\n26 51\n6 51\n1 ...,"[002, 003, 004, 005, 006, 007, 008, 010, 011, ...","[To solve this problem, we need to determine w...",[import sys\nimport math\n\ndef readints():\n ...,"[Case #1: Yes\nCase #2: Yes\nCase #3: Yes\n, C...",[Case #1: Yes\nCase #2: No\nCase #3: No\nCase ...,"[Case #30, Case #30, Case #30, Case #30, Case ...","[True, True, True, True, True, True, True, Tru...","[False, False, False, False, False, False, Fal...",596b3888,not_analyzed,1055
1,distributed_server,Distributed Server,"As the organizer of Meta Snacker Cup, you've b...",3\n3 4\nQdMa\naMex\nPeta\n4 4\nZHaa\nHaba\nack...,Case #1: meta\nCase #2: hacker\nCase #3: cup\n,70\n20 20\ncAbdcaaacDdccbdcabdb\nBaccAabddbBbc...,"[000, 001, 002, 003, 005, 006, 008, 009, 011, ...","[**Key Findings:**\n\nTo solve the problem, th...",[import sys\nimport sys\nfrom collections impo...,"[Case #1: m\nCase #2: h\nCase #3: c\n, Case #1...",[Case #1: a\nCase #2: ai\nCase #3: ai\nCase #4...,"[Case #70, Case #70, Case #70, Case #70, Case ...","[True, True, True, True, True, True, True, Tru...","[False, False, False, False, False, False, Fal...",87e3c3e8,not_analyzed,1055
2,duplicate_order,Duplicate Order,*Meta Snacker Cup* is an event where foodies o...,5\n2 1 2 1 2\n2 2 3 2 1\n5 3 4 3 8\n7 5 2 1 20...,Case #1: 24\nCase #2: 0\nCase #3: 992573627\nC...,100\n13 4 6 0 299497\n5551 3244 3335 1248 4875...,"[000, 003, 005, 010, 013, 016]",[**Key Findings:**\n\nTo solve this problem ef...,[MOD = 10**9 + 7\n\nimport sys\nimport sys\nim...,[Case #1: 16\nCase #2: 0\nCase #3: 519900361\n...,[Case #1: 87080586\nCase #2: 262203474\nCase #...,"[Case #100, Case #100, Case #100, Case #100, C...","[True, True, True, True, True, True]","[False, True, False, False, False, False]",fe35a441,analyzed,1055
3,pizza_broiler,Pizza Broiler,Gauss would like to heat up some pizza on his ...,2\n3 4\n1 2 0 5 2 5\n-3 2 1 0 -3 0\n2 -1 4 0 4...,Case #1: 15\nCase #2: 41\n,100\n100000 900001\n0 -877997 901001 -877997 9...,"[000, 008, 017]",[**Key Findings:**\n\n1. **Problem Breakdown:*...,[import sys\nimport math\nimport threading\nfr...,"[Case #1: 14\nCase #2: 40\n, Case #1: 9\nCase ...",[Case #1: 697371357\nCase #2: 1667735\nCase #3...,"[Case #100, Case #100, Case #100]","[True, True, True]","[False, False, False]",db254e5d,analyzing,1055
4,snake_cover,Snake Cover,"*""There's a snake in my fruit!""*\n\nWhile unlo...",2\n5 3\nL 3\nR 1\nS 5\n10 4\nR 2\nR 1\nR 3\nR 2\n,Case #1: 21\nCase #2: 66\n,105\n10000 1000\nL 5467\nL 6513\nR 9951\nR 161...,"[000, 003, 004, 005, 006, 008, 009, 010, 011, ...",[**Key Findings:**\n\n1. **Snake Movement Repr...,[import sys\nimport sys\nimport sys\nfrom coll...,"[Case #1: 21\nCase #2: 11\n, Case #1: 68\nCase...",[Case #1: 224798279\nCase #2: 649461795\nCase ...,"[Case #105, Case #105, Case #105, Case #105, C...","[True, True, True, True, True, True, True, Tru...","[False, False, False, False, False, False, Fal...",e316d957,analyzed,1055
5,sushi_platter,Sushi Platter,It's time to serve some sushi! You're preparin...,3\n3 2 101\n1 2 3\n101 102\n4 4 10100\n7 8 11 ...,Case #1: 2\nCase #2: 288\nCase #3: 33984\n,65\n50 5 7221440\n100 94 95 99 46 93 86 90 20 ...,"[000, 001, 004, 007, 009, 011, 017, 019, 020, ...",[**Key Findings:**\n\n1. **Small \( M \) Value...,[import sys\nimport threading\nfrom itertools ...,[Case #1: 120\nCase #2: 6720\nCase #3: 40320\n...,[Case #1: 269199917\nCase #2: 120\nCase #3: 13...,"[Case #65, Case #65, Case #65, Case #65, Case ...","[True, True, True, True, True, True, True, Tru...","[False, False, False, False, False, False, Fal...",52f1aaec,not_analyzed,1055

In [31]:
aggregated_df.to_dict(orient='records')[0].keys()

dict_keys(['problem_code', 'problem_name', 'statement', 'sample_in', 'sample_out', 'full_in', 'solution_id', 'execution_response', 'execution_code', 'execution_sample_out', 'execution_full_out', 'case_string', 'case_string_found', 'sample_out_found', 'hash', 'status', 'timestring'])

In [32]:
for i in range(6):
    print(aggregated_df["sample_out_found"][i])

[False, False, False, False, False, False, False, False, False, False, False, False, False, False, False, False, False, False, False, False, False]
[False, False, False, False, False, False, False, False, False, False, False, False, False, False, False, False, False, False]
[False, True, False, False, False, False]
[False, False, False]
[False, False, False, False, False, False, False, False, False, False, False, False, False, False, False, False, False, True, False, False]
[False, False, False, False, False, False, False, False, False, False, True, False, False]

In [ ]:
# aggregated_df[0]