In [1]:
from analysis import get_current_status

In [2]:
contest_folder = 'contestData'

In [3]:
df_grouped, aggregated_df = get_current_status(contest_folder)

In [4]:
aggregated_df

Empty DataFrame
Columns: []
Index: []

In [5]:
df_grouped

Empty DataFrame
Columns: []
Index: []