In [76]:
from analysis import get_current_status

In [77]:
contest_folder = 'practice'

In [78]:
df_grouped, aggregated_df = get_current_status(contest_folder)

In [79]:
aggregated_df

,problem_code,problem_name,statement,sample_in,sample_out,full_in,solution_id,execution_response,execution_code,execution_sample_out,execution_full_out,hash,status,timestring
0,fall_in_line,Fall in Line,"As the queen of an ant colony, it’s your job t...",3\n4\n1 1\n2 2\n-3 -3\n4 4\n4\n1 1\n-1 1\n1 -1...,Case #1: 0\nCase #2: 2\nCase #3: 3\n,113\n4\n1 1\n2 2\n-3 -3\n4 4\n4\n1 1\n-1 1\n1 ...,"[000, 001]",[**Key Findings:**\n\n1. **Objective Clarifica...,[import sys\nimport random\nfrom math import g...,"[Case #1: 0\nCase #2: 2\nCase #3: 3\n, Case #1...","[None, None]",cbf6bf2f,not_analyzed,1112
1,line_by_line,Line by Line,You’ve found a solution to an implementation-h...,4\n2 50\n3 10\n13 37\n950 95\n,Case #1: 20.710678118654748\nCase #2: 11.54434...,174\n2 50\n3 10\n13 37\n950 95\n2 1\n2 2\n2 3\...,"[000, 001]","[**Key Findings:**\n\nTo solve the problem, we...",[import math\nimport sys\n\ndef main():\n T...,[Case #1: 20.710678118654755\nCase #2: 11.5443...,[Case #1: 20.710678118654755\nCase #2: 11.5443...,5dbe9426,not_analyzed,1112

In [80]:
df_grouped

,problem_code,solution_id,problem_name,statement,sample_in,sample_out,full_in,execution_response,execution_code,execution_sample_out,execution_full_out
0,fall_in_line,000,Fall in Line,"As the queen of an ant colony, it’s your job t...",3\n4\n1 1\n2 2\n-3 -3\n4 4\n4\n1 1\n-1 1\n1 -1...,Case #1: 0\nCase #2: 2\nCase #3: 3\n,113\n4\n1 1\n2 2\n-3 -3\n4 4\n4\n1 1\n-1 1\n1 ...,**Key Findings:**\n\n1. **Objective Clarificat...,import sys\nimport random\nfrom math import gc...,Case #1: 0\nCase #2: 2\nCase #3: 3\n,None
1,fall_in_line,001,Fall in Line,"As the queen of an ant colony, it’s your job t...",3\n4\n1 1\n2 2\n-3 -3\n4 4\n4\n1 1\n-1 1\n1 -1...,Case #1: 0\nCase #2: 2\nCase #3: 3\n,113\n4\n1 1\n2 2\n-3 -3\n4 4\n4\n1 1\n-1 1\n1 ...,**Key Findings:**\n\n1. **Problem Understandin...,import sys\nimport random\nfrom math import gc...,Case #1: 0\nCase #2: 2\nCase #3: 3\n,None
2,line_by_line,000,Line by Line,You’ve found a solution to an implementation-h...,4\n2 50\n3 10\n13 37\n950 95\n,Case #1: 20.710678118654748\nCase #2: 11.54434...,174\n2 50\n3 10\n13 37\n950 95\n2 1\n2 2\n2 3\...,"**Key Findings:**\n\nTo solve the problem, we ...",import math\nimport sys\n\ndef main():\n T ...,Case #1: 20.710678118654755\nCase #2: 11.54434...,Case #1: 20.710678118654755\nCase #2: 11.54434...
3,line_by_line,001,Line by Line,You’ve found a solution to an implementation-h...,4\n2 50\n3 10\n13 37\n950 95\n,Case #1: 20.710678118654748\nCase #2: 11.54434...,174\n2 50\n3 10\n13 37\n950 95\n2 1\n2 2\n2 3\...,**Key Findings:**\n\n1. **Probability Comparis...,import math\n\ndef solve():\n import sys\n ...,Case #1: 20.710678118654755\nCase #2: 11.54434...,Case #1: 20.710678118654755\nCase #2: 11.54434...