In [18]:
from analysis import get_current_status

In [21]:
contest_folder = 'contestData'

In [22]:
df_grouped, aggregated_df = get_current_status(contest_folder)

In [24]:
aggregated_df

,problem_code,problem_name,statement,sample_in,sample_out,full_in,solution_id,execution_code,execution_sample_out,execution_full_out,hash,status,timestring
0,fall_in_line,Fall in Line,Not available,Not available,Not available,Not available,"[000, 001]",[import sys\nimport math\nfrom collections imp...,"[Case #1: 0\nCase #2: 2\nCase #3: 3\n, Case #1...",[Case #1: 0\nCase #2: 2\nCase #3: 3\nCase #4: ...,296481a7,analyzed,2932
1,line_by_line,Line by Line,Not available,Not available,Not available,Not available,"[000, 001]",[import math\n\ndef main():\n import sys\n ...,[Case #1: 20.710678118654755\nCase #2: 11.5443...,[Case #1: 20.710678118654755\nCase #2: 11.5443...,ebe12d1e,analyzed,2932
2,line_of_delivery_part_1,Line of Delivery (Part 1),Not available,Not available,Not available,Not available,[001],[import sys\nimport threading\nimport bisect\n...,[Case #1: 1 2\nCase #2: 3 4\nCase #3: 3 0\nCas...,[Case #1: 1 2\nCase #2: 3 4\nCase #3: 3 0\nCas...,25024a66,analyzed,2932
3,line_of_delivery_part_2,Line of Delivery (Part 2),Not available,Not available,Not available,Not available,"[000, 001]",[import sys\nimport bisect\nfrom collections i...,[Case #1: 1 2\nCase #2: 2 2\nCase #3: 2 1\nCas...,[Case #1: 1 2\nCase #2: 2 2\nCase #3: 2 1\nCas...,9e00db4b,analyzed,2932
4,walk_the_line,Walk the Line,Not available,Not available,Not available,Not available,"[000, 001]",[def main():\n import sys\n\n import sys...,[Case #1: YES\nCase #2: NO\nCase #3: YES\nCase...,[Case #1: YES\nCase #2: NO\nCase #3: YES\nCase...,21da6a63,analyzed,2932

In [25]:
df_grouped

,problem_code,solution_id,problem_name,statement,sample_in,sample_out,full_in,execution_code,execution_sample_out,execution_full_out
0,fall_in_line,000,Fall in Line,Not available,Not available,Not available,Not available,import sys\nimport math\nfrom collections impo...,Case #1: 0\nCase #2: 2\nCase #3: 3\n,Case #1: 0\nCase #2: 2\nCase #3: 3\nCase #4: 9...
1,fall_in_line,001,Fall in Line,Not available,Not available,Not available,Not available,import sys\nimport math\nimport random\nfrom c...,Case #1: 0\nCase #2: 2\nCase #3: 3\n,Case #1: 0\nCase #2: 2\nCase #3: 3\nCase #4: 7...
2,line_by_line,000,Line by Line,Not available,Not available,Not available,Not available,import math\n\ndef main():\n import sys\n ...,Case #1: 20.710678118654755\nCase #2: 11.54434...,Case #1: 20.710678118654755\nCase #2: 11.54434...
3,line_by_line,001,Line by Line,Not available,Not available,Not available,Not available,import math\nimport sys\n\ndef main():\n T ...,Case #1: 20.710678118654755\nCase #2: 11.54434...,Case #1: 20.710678118654755\nCase #2: 11.54434...
4,line_of_delivery_part_1,001,Line of Delivery (Part 1),Not available,Not available,Not available,Not available,import sys\nimport threading\nimport bisect\ni...,Case #1: 1 2\nCase #2: 3 4\nCase #3: 3 0\nCase...,Case #1: 1 2\nCase #2: 3 4\nCase #3: 3 0\nCase...
5,line_of_delivery_part_2,000,Line of Delivery (Part 2),Not available,Not available,Not available,Not available,import sys\nimport bisect\nfrom collections im...,Case #1: 1 2\nCase #2: 2 2\nCase #3: 2 1\nCase...,Case #1: 1 2\nCase #2: 2 2\nCase #3: 2 1\nCase...
6,line_of_delivery_part_2,001,Line of Delivery (Part 2),Not available,Not available,Not available,Not available,import sys\nimport bisect\n\ndef main():\n ...,Case #1: 1 2\nCase #2: 2 1\nCase #3: 1 1\nCase...,Case #1: 1 2\nCase #2: 2 1\nCase #3: 1 1\nCase...
7,walk_the_line,000,Walk the Line,Not available,Not available,Not available,Not available,def main():\n import sys\n\n import sys\...,Case #1: YES\nCase #2: NO\nCase #3: YES\nCase ...,Case #1: YES\nCase #2: NO\nCase #3: YES\nCase ...
8,walk_the_line,001,Walk the Line,Not available,Not available,Not available,Not available,"import sys\n\ndef can_cross(N, K, S):\n S.s...",Case #1: YES\nCase #2: NO\nCase #3: YES\nCase ...,Case #1: YES\nCase #2: NO\nCase #3: YES\nCase ...